/*Inicia Fuentes del sitio*/
@font-face{
  font-family: bellota;
  src: url(../Fonts/Bellota-Light.otf);
}
@font-face{
  font-family: Roboto;
  src: url(../Fonts/Roboto-Light.ttf);
}
/*Termina Fuentes del sitio*/

/*Inicia Reglas generales del sitio*/
body{
	background-color: #eee;
 	font-family: roboto, helvetica, arial;
	font-size: 16px;
  	text-rendering: optimizeLegibility;
  	position: absolute;
    margin: 0px;
    padding: 0px;
}
a{
	text-decoration: none;
}
/*Termina Reglas generales del sitio*/

/*Inicia navegacion del menu*/

/*Inicia maqutacion del menu*/
nav{
	background-color: #1b1b1b;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	display: inline;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 1;
}
/*Termina navegacion del menu*/

/*Inicia maquetacion del logo*/
nav h3{
	 float: left;
	 margin:0px;
	 padding-left: 3%;
	 display: block;
	 width: 120px;
	 max-width: 140px;
}
nav h3 a{
	color: #fff;
	letter-spacing: 1.5px;
	font-size: 30px;
	font-family: bellota;
}
/*Termina maquetacion del logo*/

/*Inicia maquetacion del menu-contextual*/
ul{
	height: 50px;
	float: right;
	padding-left: 15px;
	width: 350px;
}
nav ul li{
	list-style: none;
	float: left;
	padding-right: 20px;
}
nav ul li a{
	font-size: 18px;
	color: #888888;
	letter-spacing: 1px;
	padding-bottom: 8px;
}
/*Termina maquetacion del menu-contextual*/

/*Inicia animacion del menu*/
nav h3 a:hover{
	color: orange;
    cursor: default;
    text-decoration: none;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: color, background-color, border-color, opacity;
}
nav ul li a:hover{
	color: #009FFF;
	-webkit-box-shadow: 0 3px 0 0 #009FFF;
    box-shadow: 0 3px 0 0 #009FFF;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: color, background-color, border-color, box-shadow, font-size, font-family, opacity;
}
/*Termina animacion del menu*/

/*Termina navegacion del menu*/

/*Inicia Titulo de Sitio*/
section h1{
	color: #000;
	font-family: bellota;
	font-size: 110px;
	text-align: center;
	cursor: default;
	letter-spacing: 2px;
}
section h1 a:hover{
    color: orange;
    cursor: default;
    text-decoration: none;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: color, background-color, border-color, opacity;
}
.holi{
    display: inline-block;
    top: -60px;
    position:relative;
    margin:0 auto;
        
}
.cabezera{
	background-image: url(../src/img/c9e42240.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
    z-index: -1;
}
.DownFinple{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	vertical-align: center;
	width: 40%;
}
.WH{
	background-color: #fff;
	vertical-align: center;
    text-align: center;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .50);
	width: auto;
    float: left;
}
.Titulo{
    text-align: center;
}
.contenido{
    height: 300px;
    width: 100%;
}
/*inicia Footer*/
footer{
    color: inherit;
    background-color: #000 ;
    background-size: cover;
    height: 200px;
    width: 100%;
}
.declaracion{
    color: #fff;
    font-family: arial;
    font-size: 10px;
    text-align: center;
    vertical-align: baseline;
    letter-spacing: .5px;
    margin-top: 110px;
}
footer a{
    color: #fff;
    padding: 10px;
    padding-bottom: 3px;
    margin-right: 10px;
    cursor: default;
}
.linksfooter:hover{
   color: #009FFF;
    cursor: pointer;
	-webkit-box-shadow: 0 1px 0 0 #009FFF;
    box-shadow: 0 1px 0 0 #009FFF;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;
    transition-property: color, background-color, border-color, box-shadow, font-size, font-family, opacity;
}
.littlefinple{
    font-family: bellota;
}
.littlefinple:hover{
	color: orange;
    cursor: default;
    text-decoration: none;
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: color, background-color, border-color, opacity;
}
.acomodarlinks{
    text-align: center;
    padding-top: 50px; 
}
.circulo{
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.6);
    background-color: #fff;
    background-image: url(../src/img/boton.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 0;
    position: absolute;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    left: 48%;
}
.circulo:hover{
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
    transition-duration: 0.7s, 0.7s, 0.7s, 0.7s;
    transition-property: color, background-color,     border-color, opacity, box-shadow ;
}
